<footer class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui inverted horizontal link list ">
      <a class="item" routerLink="/impressum" target="_blank">Legal</a>
      <a class="item" routerLink="/contact" target="_blank">Contact</a>
      <a class="item" routerLink="/data-policy">What the hell is this</a>
    </div>
    <div style="text-align: center"><p style="color: #fff">&copy; Made with ❤️ by CraftedCrime.de | All rights reserved.</p></div>
  </div>
</footer>
