<div class="jumbotron text-center" style="color: #808080; height: 100%; background: transparent; padding-top: 50px">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-6 mx-auto my-auto">
        <div class="jumbotron column-styler">
          <h1>The ServerManager</h1>
          <br>
          <p class="lead">
            The easy way to administrate your BungeeCord.
          </p>
          <a class="btn btn-lg btn-success" href="" role="button">Get started now</a>
        </div>
      </div>
    </div>
  </div>
</div>

