<body style="background: #1B1C1D; padding-top: 70px; padding-bottom: 50px">
<div class="ui container fluid" style="padding-bottom: 50px">
  <div class="ui fluid centered grid" style="padding-top: 20px">
    <div class="row">
      <div class="five wide column center aligned">
        <h1 style="color: white">TUTORIALS</h1>
      </div>
    </div>
    <div class="row">
      <div class="eight wide column center aligned">
        <div class="ui fluid centered grid">
          <div class="row">
            <div class="fifteen wide column left aligned" style="background-color: #4d4d4d; border-radius: 7px; padding: 5px">
              <div class="ui segment inverted" style="background: transparent">
                <br>
                <p style="color: white; font-size: large">Here you are able to find some tutorials about the ServerManager plugin.<br> These tutorials are intended for those who want to get started
                  with the ServerManager plugin on BungeeCord.</p>
                <br>
                <p style="color: white; font-size: x-large">So at first: Thanks for choosing my ServerManager plugin for your BungeeCord network! </p>
                <p style="font-size: large"><a class="link-footer" routerLink="/tutorials/install/mysql">0.5.: Install a mysql-server</a></p>
                <p style="font-size: large"><a class="link-footer" routerLink="/tutorials/install/redis">0.75.: Install a redis-server (optional)</a></p>
                <p style="font-size: large"><a class="link-footer" routerLink="/tutorials/install/plugin">1.: Install the plugin</a></p>
                <p style="font-size: large"><a class="link-footer" routerLink="/tutorials/first-server">2.: Create your first server</a></p>
                <p style="color: white; font-size: large">Those are all the tutorials, at least for now. More are going to be added when the orchestration feature of the plugin is rolling out.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
