code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: transparent;
  padding: 2px;
  font-size: 105%;
}

.action-background {
  background: #3d3d3d;
  padding: 3px;
  border-radius: 2px;
}
