<div class="jumbotron text-center" style="color: #808080; height: calc(95vh);">
  <h1>Dev-Stuff / General Information</h1>
  <div class="container-fluid" style="padding-top: 20px; width: 100%">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6 column-styler">
        <h1 style="color: white"></h1>
        <p style="color: white; text-align: left">General stuff you may want to know about.</p>
        <p style="color: white; font-size: large; text-align: left">Developer Information:</p>
        <p style="color: white; text-align: left">I think I'm going to release the code for the ServerManager plugin (BungeeCord version) on my gitlab, so you're able to check it out, if you want to.
        <br>An API to connect to the ServerManager is currently not implemented, but I have plans to implement it further on. </p>
      </div>
      <div class="col-3"></div>
    </div>

    <div class="row" style="padding-top: 25px;">
      <div class="col-3"></div>
      <div class="col-6 column-styler" style="padding: 10px">
        <div>
          <div style="display: block">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-3"></div>
    </div>

  </div>
</div>
