<div class="ui fixed sticky inverted menu " style="border-radius: 0px">
  <a routerLink="/" class="item">ServerManager</a>
  <div class="right menu">
    <a routerLink="/editor" class="item"><i class="comment icon"></i>Editor</a>
    <a routerLink="/getstarted" class="item"><i class="heart icon"></i>Get started</a>
    <a routerLink="/tutorial" class="item"><i class="info icon"></i>Tutorial</a>
    <a routerLink="/help" class="item"><i class="info icon"></i>Help</a>
    <a routerLink="/stats" class="item"><i class="info icon"></i>Stats</a>
  </div>
</div>
